<!--
    Title: about.component.html
    Author: Carl Logan
    Date: 04/04/2023
    Description: WEB 450 - nodebucket.
-->

<h1>About</h1>

<div class="container" fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="center center">
  <div fxLayout="column" style="width: 400px" fxLayoutAlign="center center">
    <figure>
      <img src="assets/pexels-breakingpic-3243.jpg" alt="A To Do List on top of a calendar." width="400">
      <figcaption>To Do List.
        <a href="https://www.pexels.com/photo/pen-calendar-to-do-checklist-3243/">
          Photo by Breakingpic
        </a>
      </figcaption>
    </figure>
  </div>
    <div fxLayout="column" style="width: 500px" fxLayoutAlign="center center">
      <p class="text-body">
        Welcome to our to-do app, the only app that understands your procrastination
        and gives you a place to write down your tasks. We're here to help you organize
        your life, one task at a time. And let's be honest, who doesn't need a little
        help in that department?
        Our app is so easy to use, you'll wonder how you ever got by without it. We've
        got all the features you need to make sure you never forget anything important
        again. Create to-do lists and prioritize tasks based on their
        level of importance (or how much you're dreading them).
        And let's talk about our drag and drop feature. It's like having your own note system
        to pull and place anywhere on the board. When it's time to do a task, come back to the
        app to prioritize or mark as done. No more excuses like "I forgot" or "I'll do it
        later." We know you're busy, but we also know you're capable of great things.
        But wait, there's more! Our app is simple, so you can focus on the task at hand.
        So what are you waiting for? Use our app today and start getting things done.
        We promise it'll change your life (or at least make it a little less chaotic). And
        who knows, maybe one day you'll get so much done you can get rid of the app.
      </p>
    </div>
</div>

