<!--
    Title: home.component.html
    Author: Carl Logan
    Date: 03/30/2023
    Description: WEB 450 - nodebucket.
-->

<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
      </span>
    </h1>
  </div>

  <div fxFlex>

    <div class="task-container">
      <!-- primeng UI component that manages the two-way binding for serverMessages -->
      <!-- the dynamic binding is turned off -->
      <p-messages [(value)]="serverMessages" [enableService]="false"></p-messages>
    </div>

    <div class="task-container mat-elevation-z4" fxLayout="column">
      <mat-card>
        <!-- initiate the createTask method when a task is submitted -->
        <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">
          <mat-card-content class="w-100">
            <mat-form-field appearance="fill" style="width: 100%;">
              <input formControlName="task" matInput placeholder="Enter a task name...">
              <button type="submit" mat-icon-button matSuffix [disabled]="!taskForm.valid">
                <mat-icon matSuffix class="icon-btn">
                  add_circle
                </mat-icon>
              </button>
            </mat-form-field>

            <!-- error handling -->
            <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
              Task is a required field.
            </mat-error>

            <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
              The task field must be at least 3 characters in length.
            </mat-error>

            <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
              The task field cannot exceed 35 characters in length.
            </mat-error>

          </mat-card-content>
        </form>
      </mat-card>
    </div>

  </div>

  <br>

  <div fxFlex>

    <div fxLayout="row" fxLayoutGap="15px" class="task-container" style="margin-top: 10px;">

      <!-- To Do task column -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>
            To Do
          </mat-card-title>
          <mat-card-content>
            <div class="task-column">
              <div *ngFor="let item of todo">
                <mat-card class="mat-elevation-z1 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{item.text}}
                      </div>

                      <!-- add icon -->
                      <div fxFlex fxLayoutAlign="end" style="margin-top: -7px">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>

                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Done task column -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>
            Done
          </mat-card-title>
          <mat-card-content>
            <div class="task-column">
              <div *ngFor="let item of done">
                <mat-card class="mat-elevation-z1 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{item.text}}
                      </div>
                      <!-- add icon -->
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>

</div>
